* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfcfcf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #000;
}

a {
    color: #5e5e5e;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}